*{
    font-family: 'Lato', sans-serif;
    color: black
}

h1 {
    padding-top: 1vh;
    text-align: left;
}


.bodyPortion {
   background-color:#EBEBEB;
   padding-left: 10px;
}

img {
    border: 1px solid white;
    border-radius: 2px;
    padding: 3px;
    width: 30%;
    height: 60%;
}

p {
    font-size: 15px;
}

li {
    font-size: 15px;
    padding: 2px
}

.navbar-brand {
    font-size: 30px;
}

.navbar {
    padding-top: 5px;
}

.hide {
    display: none;
}