* {
    font-family: 'Lato', sans-serif;
    background: url(https://i.imgur.com/Lg5BVBt.jpg)no-repeat center center fixed;
    background-size: cover;
    color: ivory;
}

.container { 
    height: 40vh;
}

h1 {
    text-align: center;
    margin: 50px;
    padding: 20px
}

h2 { 
    text-align: center;
    margin: 30px;
}

.navbar {
    position: relative;
    padding: 20px;
}

/* .form-Group .registrationForm {
    background-color: blue;
} */
